# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ-related files
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# iOS-specific files
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Android-specific files
android/.cxx/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Web-specific files
web/.dart_tool/
web/.js_build/
web/manifest.json
web/worker.js

# macOS-specific files
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework/
macos/Pods/
macos/.generated/
macos/Runner.xcworkspace/

# Windows-specific files
windows/generated_plugin_registrant.*

# Linux-specific files
linux/generated_plugin_registrant.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
